/* 
*   Main file for UCSC theme styles. 
*   This file will compile into css/ucsc.css
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: top;
  background: transparent; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

pre {
  border: 1px solid #CCC;
  padding: 1.2em;
  background-color: #EFEFEF;
  border-radius: 5px;
  margin: 1em 0;
  overflow: scroll; }

code {
  background-color: #EFEFEF;
  padding: 0 0.2em; }

/* @override http://drupal.site/sites/default/themes/ucsc/css/960_12_fluid.css?y */
/*
	Variable Grid System (Fluid Version).
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/

	Licensed under GPL and MIT.
*/
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%; }

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 1%;
  margin-right: 1%; }

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .grid_1 {
  width: 6.333%; }

.container_12 .grid_2 {
  width: 14.667%; }

.container_12 .grid_3 {
  width: 23.0%; }

.container_12 .grid_4 {
  width: 31.333%; }

.container_12 .grid_5 {
  width: 39.667%; }

.container_12 .grid_6 {
  width: 48.0%; }

.container_12 .grid_7 {
  width: 56.333%; }

.container_12 .grid_8 {
  width: 64.667%; }

.container_12 .grid_9 {
  width: 73.0%; }

.container_12 .grid_10 {
  width: 81.333%; }

.container_12 .grid_11 {
  width: 89.667%; }

.container_12 .grid_12 {
  width: 98.0%; }

/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .prefix_1 {
  padding-left: 8.333%; }

.container_12 .prefix_2 {
  padding-left: 16.667%; }

.container_12 .prefix_3 {
  padding-left: 25.0%; }

.container_12 .prefix_4 {
  padding-left: 33.333%; }

.container_12 .prefix_5 {
  padding-left: 41.667%; }

.container_12 .prefix_6 {
  padding-left: 50.0%; }

.container_12 .prefix_7 {
  padding-left: 58.333%; }

.container_12 .prefix_8 {
  padding-left: 66.667%; }

.container_12 .prefix_9 {
  padding-left: 75.0%; }

.container_12 .prefix_10 {
  padding-left: 83.333%; }

.container_12 .prefix_11 {
  padding-left: 91.667%; }

/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .suffix_1 {
  padding-right: 8.333%; }

.container_12 .suffix_2 {
  padding-right: 16.667%; }

.container_12 .suffix_3 {
  padding-right: 25.0%; }

.container_12 .suffix_4 {
  padding-right: 33.333%; }

.container_12 .suffix_5 {
  padding-right: 41.667%; }

.container_12 .suffix_6 {
  padding-right: 50.0%; }

.container_12 .suffix_7 {
  padding-right: 58.333%; }

.container_12 .suffix_8 {
  padding-right: 66.667%; }

.container_12 .suffix_9 {
  padding-right: 75.0%; }

.container_12 .suffix_10 {
  padding-right: 83.333%; }

.container_12 .suffix_11 {
  padding-right: 91.667%; }

/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .push_1 {
  left: 8.333%; }

.container_12 .push_2 {
  left: 16.667%; }

.container_12 .push_3 {
  left: 25.0%; }

.container_12 .push_4 {
  left: 33.333%; }

.container_12 .push_5 {
  left: 41.667%; }

.container_12 .push_6 {
  left: 50.0%; }

.container_12 .push_7 {
  left: 58.333%; }

.container_12 .push_8 {
  left: 66.667%; }

.container_12 .push_9 {
  left: 75.0%; }

.container_12 .push_10 {
  left: 83.333%; }

.container_12 .push_11 {
  left: 91.667%; }

/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .pull_1 {
  left: -8.333%; }

.container_12 .pull_2 {
  left: -16.667%; }

.container_12 .pull_3 {
  left: -25.0%; }

.container_12 .pull_4 {
  left: -33.333%; }

.container_12 .pull_5 {
  left: -41.667%; }

.container_12 .pull_6 {
  left: -50.0%; }

.container_12 .pull_7 {
  left: -58.333%; }

.container_12 .pull_8 {
  left: -66.667%; }

.container_12 .pull_9 {
  left: -75.0%; }

.container_12 .pull_10 {
  left: -83.333%; }

.container_12 .pull_11 {
  left: -91.667%; }

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/*
*  Colors
*  
*/
/*
*  Typography
*  
*/
/*
*  Layout
*  
*/
/**
* = DEFAULT TYPOGRAPHY
*/
html {
  overflow-y: scroll !important; }

body {
  background: #f5f4eb;
  color: #676661;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857;
  text-rendering: optimizeLegibility; }

a, a:visited {
  color: #00458c;
  text-decoration: none; }

a:focus,
a:hover {
  text-decoration: underline; }

blockquote {
  color: #8E8C87;
  font-weight: bold;
  margin: 2em;
  padding: 0.25em 0 0.25em 1.5em;
  font-size: 16px;
  border-left: 0.25em solid #676661; }

table {
  background: #a2a09c;
  border: none;
  padding: 0;
  margin: 0 0 2em 0;
  text-align: left; }

caption {
  text-align: center;
  background-color: transparent;
  font-style: italic;
  padding: 0.25em; }

table th,
table td {
  border: none;
  padding: 0.25em 0.5em; }

table th,
table td.rowHead {
  color: #898782;
  font-weight: bold;
  border-bottom: 1px solid #84827c; }

abbr {
  cursor: help; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

p {
  padding: 0;
  line-height: 1.5;
  margin: 0.75em 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

h1 {
  color: #4d4c49;
  font-weight: 700;
  font-size: 2em;
  line-height: 1;
  letter-spacing: -0.03125em;
  margin: 1em 0 0.5em; }

h2 {
  color: #5a5955;
  font-weight: 700;
  line-height: 1;
  margin: 1em 0 0.5em; }

h3 {
  color: #4d4c49;
  font-weight: 400;
  font-size: 1.3125em;
  line-height: 1.1429;
  margin: 1.15em 0 0.5em; }

h4 {
  color: #4d4c49;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.3334;
  margin: 1.25em 0 0.25em;
  -webkit-font-smoothing: antialiased; }

h5 {
  color: #5a5955;
  font-weight: 700;
  font-size: 1em;
  line-height: 1;
  margin: 1.5em 0 0.25em;
  -webkit-font-smoothing: antialiased; }

h6 {
  color: #676661;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1.1429;
  margin: 1.7em 0 0.15em;
  -webkit-font-smoothing: antialiased; }

dt {
  margin: 1em 0 0.4em 0; }

dd {
  margin: 0 0 0.6em 1em; }

ol > li,
ol li ol li {
  background-image: none;
  padding-left: 0;
  margin-left: 1.5em; }

 /**
* = FORM DEFAULTS
*/
fieldset > div {
  margin: 1em 0; }

fieldset fieldset {
  border: none;
  padding: 0; }

legend {
  margin-bottom: 1em; }

input[type="text"],
input[type="email"],
input[type="text"],
input[type="password"],
textarea {
  border: 1px solid #898782;
  padding: 0.25em;
  font-size: 0.8em;
  background: #a2a09c;
  display: block;
  margin: 0.1em 0 0.2em 0;
  padding: 0.25em; }

input[type="submit"] {
  padding: 0.25em 0.5em;
  background-color: #00458c;
  color: #FFC500;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-right: 0.6em;
  padding: 0.5em; }

input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active {
  background: #FFC500;
  color: #00458c; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 6px;
  width: auto; }

input[type="file"] {
  width: auto; }

button {
  background-color: #00458c;
  color: #FFC500;
  padding: 0.5em; }

button:hover {
  background-color: #FFC500;
  color: #00458c; }

optgroup {
  font-weight: bold; }

option {
  padding: 0.12em; }

fieldset {
  background-color: #a2a09c;
  border: 1px solid #898782;
  margin: 1.5em 0;
  padding: 0.75em; }

legend {
  text-transform: uppercase; }

/**
* = SHELLS: wrapper divs
*/
.outer {
  width: 960px;
  margin: 0 auto 1em auto;
  background-color: #f5f4eb;
  position: relative;
  /* overflow:hidden; */ }

.wrap {
  width: 860px;
  margin: 0;
  background-color: #f5f4eb; }

.container_12 {
  width: 820px; }

/**
* = FRONT PAGE: grid styles
*/
.three_column .block .content {
  border-bottom: solid 1px #e8e5cf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #efecdd; }

.three_column .block .content .view-content img {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px solid #a2a09c;
  padding: 5px;
  display: inline;
  float: left;
  margin: 0 10px 10px 0; }

.three_column .block .content .view-content .views-row {
  clear: both; }

.three_column .block .content .view-content .views-field-created {
  color: #8E8C87;
  font-size: 9px;
  letter-spacing: 1px; }

.four_column {
  margin-top: 12px;
  font-size: 11px;
  line-height: 16px; }

.four_column .block .content {
  background-color: transparent;
  font-size: 11px;
  padding: 0; }

.four_column .block .content ul,
.four_column .block .content p {
  padding: 0;
  color: #84827c;
  margin: 0 0 15px 0; }

.four_column .block-title {
  color: #484846;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.4em; }

.three_column .block-title span,
.four_column .block-title span {
  font-style: normal;
  font-weight: bold;
  color: #585755 dark; }

.three_column .block-title {
  margin: 0px 0px 10px 0px;
  padding: 6px;
  border: 1px solid #efecdd;
  color: #84827c;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.4em; }

.four_column p {
  padding: 4px;
  color: #84827c;
  font-size: 9pt; }

.three {
  float: none; }

.combined {
  background-color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-bottom: solid 1px white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
  clear: both;
  display: block;
  margin: 30px 0 30px 0;
  padding: 1em 0 1em 1em; }

.combined .grid_4 {
  font-size: 13px;
  line-height: 1.4em; }

.combined .grid_4.alpha {
  border-left: none; }

.combined .grid_4.omega {
  border-right: none; }

.combined .block-title {
  color: #00458c;
  border: 1px solid #0059b5;
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 4px 6px;
  line-height: 130%;
  text-transform: uppercase; }

.combined .grid_4 .content {
  padding-top: 0; }

/**
*  Full-width page styles
*/
.outer.full_width,
.full_width .wrap,
.full_width .container_12 {
  width: 100%;
  margin: 0;
  padding: 0; }

.full_width .container_12 .grid_12,
.full_width .content {
  margin-left: 0; }

.full_width .container_12 {
  width: 96%;
  margin: 0 2em 0 2em;
  min-width: 860px; }

.full_width .utility_nav {
  float: right;
  margin-right: 0.6em; }

.full_width .utility_nav .home {
  width: auto; }

.full_width .search {
  min-width: 220px; }

.full_width .left_content {
  max-width: 190px; }

.full_width .wrap .grid_9.push_3 {
  left: 220px; }

.fixed_width .search input[type='text'] {
  width: 56%; }

/**
* = LEFT COLUMN STYLES
*/
.left_content .block {
  padding: 0;
  margin-bottom: 1.8em; }

.left_content .block .content {
  padding: 0;
  margin: 0.8em 0; }

.left_content ul.plain {
  margin: 0;
  padding: 0; }

.left_content li {
  margin-bottom: 1em; }

.left_content .plain li {
  background-image: none;
  list-style: none;
  padding-left: 0; }

.left_content .menu {
  margin: 0;
  padding: 0;
  border-top: white 1px solid;
  font-size: 11px;
  line-height: 30px;
  width: 188px; }

.left_content .menu li {
  margin: 0;
  padding: 0;
  border-bottom: white 1px solid;
  background-image: none;
  list-style: none; }

.left_content .menu li ul {
  margin-bottom: -1px;
  width: auto; }

.left_content .menu li ul ul {
  margin-left: 0;
  width: auto; }

.left_content .menu li li li {
  border-bottom: none;
  background: transparent url(../images/bullet.gif) no-repeat 12px 10px;
  padding-left: 1.6em;
  margin-left: 0;
  width: 87%; }

.left_content .menu li li a {
  margin-left: 0px;
  padding-left: 12px;
  width: 94%; }

.left_content .menu li li li a {
  padding-left: 0.4em;
  width: 100%;
  line-height: 1em;
  background-image: none; }

.left_content ul .active {
  display: block;
  background: white url(../images/navigation-arrow.gif) no-repeat right center; }

.left_content .menu li a {
  display: block;
  width: 100%;
  max-width: 184px;
  line-height: 1.4em;
  padding: 6px 0px; }

.left_content li a:focus,
.left_content li a:hover {
  background-color: white; }

.left_content ul li .last {
  border-bottom: none; }

/**
* = RIGHT COLUMN STYLES
*/
.right_content .block-title {
  font-weight: bold;
  margin: 0.4em 0;
  font-size: 13px;
  border-bottom: 4px solid white;
  padding-bottom: 0.4em;
  margin-top: 0;
  color: #84827c;
  text-shadow: 1px 1px 0px #84827c;
  line-height: 1.4em; }

.right_content .inner .content {
  font-size: 88% !important;
  width: 90%;
  padding: 0;
  margin: 0 0 1em 0; }

.right_content img {
  background-color: white;
  padding: 4px; }

.right_content img[align="left"],
.right_content img.left {
  margin: 0 2px 2px 0; }

.right_content img[align="right"],
.right_content img.right {
  margin: 0 0 2px 2px; }

/**
* = ACCESSIBILITY LINKS: hidden until they receive :focus
*/
.access_links ul,
.access_links li {
  overflow: hidden !important;
  width: 100%; }

.access_links,
.access_links li {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative; }

.access_links li a {
  background-color: #fff;
  display: block;
  font-size: 1.6em;
  left: 900em;
  margin: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000 !important; }

.access_links li a:focus,
.access_links li a:hover {
  background-color: #007799;
  color: #ffffff;
  left: 0; }

/**
* Breadcrumb navigation
*/
.breadcrumb {
  margin: 1em 0 22px 1em; }

.breadcrumbs {
  clear: both;
  display: block;
  margin: -10px 0 0 0;
  font-size: 9px;
  line-height: 16px; }

.breadcrumbs ul li {
  display: inline;
  padding: 0;
  background-image: none; }

.breadcrumbs ul li:after {
  content: " / ";
  font-size: 11px; }

.breadcrumbs ul li:last-child:after {
  content: ""; }

.breadcrumbs a {
  padding: 0 3px; }

/* Hide block title in the footer (but keep it in the HTML for accessibility) */
.footer .block .title {
  position: absolute;
  left: 1000em;
  overflow: hidden; }

.footer .block .content {
  padding: 0px; }

.footer li {
  background-image: none;
  padding: 0;
  margin: 0 0 0 6px; }

.footer_links {
  line-height: 40px;
  text-align: center;
  padding: 0px;
  text-transform: uppercase;
  overflow: hidden; }

.campus_info p {
  margin: 0 0 0.2em; }

.footer_links a {
  padding: 0px 5px; }

/**
* Footer styles
*/
.footer_links h2 {
  display: none; }

.footer_links ul {
  float: right; }

.footer_links li {
  float: left;
  list-style: none; }

/**
* Utility navigation and Search
*/
.utility_nav li {
  background-image: none;
  border-left: 1px solid #c2cdc9;
  float: left;
  font-size: 12px;
  line-height: 1.2em;
  list-style-type: none;
  padding: 25px 10px 1px 10px; }

.utility_nav .home {
  width: 270px; }

.search {
  float: right;
  margin: 20px 0px 36px -12px;
  padding: 0px;
  background: rgba(255, 255, 255, 0.8);
  border: solid 1px #d5d3c8;
  border-radius: 5px;
  min-width: 220px; }

.search .content {
  padding: 0; }

.search h4,
.search label {
  position: absolute;
  right: 900em; }

.search input[type='submit'] {
  float: right;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  background-image: none;
  background-color: #c7c4b7;
  margin: 0px;
  border-radius: 0px;
  cursor: pointer;
  padding: 0.5em; }

.search input[type='text'] {
  width: 65%;
  color: #666;
  font-size: 12px;
  color: #A3A3A1;
  background-color: transparent;
  float: left;
  padding: 4px 0 0 6px;
  border: none; }

.search form input {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #8e8c87; }

.search form input.query {
  color: #a3a3a1;
  height: 15px;
  line-height: 1em;
  padding: 4px 0 0 0;
  vertical-align: top;
  width: 152px; }

/**
* = LOGO AND SITE TITLE
*/
.logo {
  display: block;
  background: url(../images/logo.gif) no-repeat top left;
  height: 45px;
  width: 144px;
  text-indent: -9999px;
  font-size: 1px;
  line-height: 1px;
  float: left;
  margin: 0;
  padding: 0 10px 0 0;
  overflow: hidden;
  border-right: 1px solid #e5e7de; }

.site_title {
  line-height: 1.1em;
  margin-left: 12px;
  margin-top: 0px;
  float: left; }

.site_title.title_standard {
  margin-top: 2px; }

.site_title.title_short,
.site_title.title_medium {
  margin-top: 4px; }

.site_title.title_long {
  margin-top: 4px; }

.site_title.title_mega_long {
  margin-top: -4px; }

.site_title.title_extra_long,
.site_title.title_super_long {
  margin-top: -6px; }

.site_title a {
  margin: 0;
  font-size: 42px;
  padding: 0 0 0 0;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #F1B521;
  text-decoration: none; }

/**
*   Page title classes for titles of different lengths
*/
#site-title.title_standard,
#site-title.title_standard a {
  font-size: 38px; }

#site-title.title_short,
#site-title.title_short a {
  font-size: 32px; }

#site-title.title_medium,
#site-title.title_medium a {
  font-size: 30px; }

#site-title.title_long,
#site-title.title_long a {
  font-size: 28px; }

#site-title.title_extra_long,
#site-title.title_extra_long a {
  font-size: 26px;
  width: 78%; }

#site-title.title_super_long,
#site-title.title_super_long a {
  font-size: 24px;
  width: 68%; }

#site-title.title_mega_long,
#site-title.title_mega_long a {
  font-size: 22px;
  width: 58%; }

/**
* = MAIN CONTENT STYLES
*/
.content {
  clear: both; }

.content p {
  margin: 0px 0px 1em 0px;
  font-size: 12px;
  line-height: 1.6em; }

.content > img {
  background-color: #F9F8F2;
  margin: 10px;
  padding: 4px; }

.content ul,
.content ol {
  font-size: 12px;
  line-height: 19px;
  margin-bottom: 10px; }

.left_content .block .content,
.below_content .block .content {
  min-height: 10px; }

.below_content p {
  background-color: #ece9d8;
  color: #5d5c5b;
  margin: 0px;
  border: 0px; }

.content .plain {
  background-color: transparent;
  padding: 0;
  border: none; }

.content div.indentation {
  clear: none; }

/**
* Main navigation
*/
.main_nav {
  margin-top: 14px; }

.main_nav.grid_12 {
  margin-left: 0; }

/* Override some defaults from above and from system.css */
.main_nav .block .content,
.front .above_content {
  padding: 0; }

.main_nav .block ul {
  padding: 0; }

.main_nav .menu {
  background: transparent url(../images/button_background.jpeg) repeat-x;
  background-image: -moz-linear-gradient(top, #f4f1e6, #ffffff);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f1e6), to(#ffffff));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #E7E5DE;
  border-bottom: solid 1px #d5d3c8;
  clear: both;
  display: block;
  height: 30px;
  margin: 0px 0 10px 0; }

.main_nav li {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #e7e5de;
  float: left;
  font-size: 11px;
  line-height: 16px;
  list-style: none;
  margin: 0;
  padding: 0px 0px;
  text-align: center;
  width: 130px;
  background-image: none;
  background-color: transparent; }

.main_nav li a,
.qsg span {
  background: url(../images/main_nav_off.gif) repeat-x;
  background-image: -moz-linear-gradient(top, #f4f1e6, #ffffff);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f1e6), to(#ffffff));
  color: #cb9001;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 11px;
  height: 15px;
  letter-spacing: normal;
  padding: 8px 0 7px 0;
  text-transform: uppercase;
  text-decoration: none;
  -moz-text-shadow: 1px 1px 0px #ffffff;
  text-shadow: 1px 1px 0px #ffffff;
  width: 100%; }

.main_nav .menu.hovered,
.main_nav li a:focus,
.main_nav li a:hover,
.main_nav li.qsg span:hover {
  color: #ffbd15;
  text-decoration: none;
  background: #296fa3;
  background-color: #296fa3;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #296fa3, #5992bd);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#296fa3), to(#5992bd));
  background-position: top left;
  -moz-text-shadow: none;
  text-shadow: none; }

.main_nav li li {
  background: none;
  border: none;
  float: none;
  margin: 0;
  min-width: 190px;
  padding: 0; }

.main_nav li li a {
  background: #f9f8f2;
  color: #5585A2;
  height: auto;
  padding: 4px 0 4px 10px;
  text-align: left;
  text-shadow: none;
  text-transform: none; }

.main_nav .first a,
.main_nav li:first-child a {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

/* No :first-child rounded corners for nested <li>s */
.main_nav li li a {
  -webkit-border-top-left-radius: 0px !important;
  -webkit-border-bottom-left-radius: 0px !important;
  -moz-border-radius-topleft: 0px !important;
  -moz-border-radius-bottomleft: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important; }

.main_nav ul > li:first-child {
  border-left: none; }

.main_nav ul > li:last-child {
  border-right: none; }

/* dropdown menu styles */
.main_nav li.qsg {
  position: relative; }

.main_nav li ul {
  background: #f9f8f2;
  left: -900em;
  position: absolute;
  padding: 6px 0 0 0;
  /* Remove box shadows for now. -rk
  -webkit-box-shadow:4px 4px 4px rgba(0,0,0,0.2);
  -moz-box-shadow:4px 4px 4px rgba(0,0,0,0.2);
  box-shadow:4px 4px 4px rgba(0,0,0,0.2);
  */
  z-index: 100; }

.main_nav li:hover ul,
.main_nav li.hov ul {
  left: auto;
  *left: 0px;
  z-index: 100; }

.main_nav li li a:focus,
.main_nav li li a:hover {
  background: #296fa3;
  background-image: none;
  color: #f9f8f2;
  height: auto; }

/**
* Messages and Help styles
* (Taken and modified from Garland)
*/
.messages {
  min-height: 1em;
  color: #333333;
  background-color: #cde4f2;
  border: 1px solid #82a0c3;
  padding: 1em 1em 1em 2em !important;
  margin-bottom: 30px; }

.messages a {
  font-weight: 700; }

.messages ul {
  margin: 0.4em 1em 1em 0.8em;
  padding: 0; }

.messages ul li {
  margin-bottom: .25em;
  list-style: disc;
  background-image: none;
  padding: 0;
  margin-left: 1em; }

.messages.help {
  background: #cde4f2;
  border: 1px solid #82a0c3; }

.messages.status {
  background: #d4efcc;
  border: 1px solid #69c375; }

.messages.warning {
  background: #f5fc9c;
  border: 1px solid #D4D400; }

.messages.error {
  background: #FCC;
  border: 1px solid #DB6B6C; }

.more-help-link {
  margin-bottom: .5em; }

.messages-multiple {
  padding-bottom: 0; }

.page_title {
  line-height: 1.2em;
  margin: 0 0 0.2em 18px;
  font-size: 28px;
  color: #555555;
  width: 70%; }

#page-header {
  position: relative; }

#sub-logo {
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 60;
  width: 150px;
  max-width: 150px;
  margin: 0px 0px 4px 8px;
  text-align: right; }

#sub-logo img {
  max-width: 150px;
  max-height: 60px; }

/**
* = REGIONS
*/
.above_content,
.content,
.below_content,
.right_content .inner {
  background-color: #ece9d8;
  color: #5d5c5b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  margin: 0px 0px 20px 8px;
  border-bottom: 1px solid #e5e4de; }

.above_content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0px;
  background-color: #ece9d8;
  color: #8e8c87;
  border-bottom: 1px solid #e5e4de;
  margin: 0px 0px 10px 8px; }

.above_content .block .content {
  overflow: hidden; }

.below_content {
  padding: 10px;
  color: #8e8c87;
  border-bottom: 1px solid #e5e4de;
  margin: 0px 0px 10px 0px; }

.footer {
  letter-spacing: 0.05em;
  color: #5d5c5b;
  text-transform: uppercase;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #dedcd1;
  font-size: 0.65em; }

.footer a {
  font-size: 9px; }

.front .three_column .block .content {
  min-height: 226px; }

.content div.admin .left, .content div.admin .right {
  float: none;
  clear: none;
  padding: 10px;
  margin: 0px;
  width: 100%; }

/*
** Autocomplete styles:
** pulled and modified from system.css
*/
/* Suggestion list */
.content #autocomplete {
  position: absolute;
  border: 1px solid;
  overflow: hidden;
  z-index: 100; }

.content #autocomplete ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.content #autocomplete li {
  background: #fff;
  color: #000;
  white-space: pre;
  cursor: default;
  margin: 0; }

.content #autocomplete li.selected {
  background: #F1B521;
  color: #000; }

/* Animated throbber */
html.js .content input.form-autocomplete {
  background-image: url(../images/throbber.gif);
  background-repeat: no-repeat;
  background-position: 99% 5px;
  /* LTR */ }

html.js .content input.throbbing {
  background-position: 99% -15px;
  /* LTR */ }

/*
*  = Reset styles for lists
*    masquerading as drop down menus
*/
.content .ctools-content ul,
.content .ctools-content ul li {
  background-image: none;
  list-style: none;
  padding: 2px 0px;
  margin: 0; }

.content .ctools-content ul {
  padding: 0px; }

/* Drupal form overrides */
fieldset.collapsible {
  border: 1px solid #8E8C87;
  margin: 1.4em 0 !important;
  padding: 10px; }

fieldset.collapsible.collapsed {
  border: none;
  padding: 2px 10px; }

.form-item label {
  font-weight: bold;
  color: #545454;
  text-align: left; }

.webform-grid th {
  font-weight: normal; }

.form-item .description,
.fieldset-wrapper,
.form-item {
  margin-top: 0; }

fieldset .form-item {
  padding-bottom: 1em;
  border-bottom: 1px solid #c7c4b7; }

.form-item.password-parent,
.form-item.confirm-parent {
  margin-bottom: 1em;
  border: none; }

.options .form-item,
.form-radios .form-item,
fieldset .form-item:last-child {
  border: none;
  margin-bottom: 0.2em;
  padding-bottom: 0.2em; }

.content .form-item-date select {
  display: inline; }

.content .form-item input.error,
.content .form-item textarea.error,
.content .form-item select.error {
  border: 2px solid red; }

/* Field labels */
.field .field-label {
  margin: 1.2em 0 0.2em 0; }

.content textarea {
  height: 12em;
  margin-bottom: 0; }

div.wysiwygToolbar div, div.wysiwygToolbar div table tr, div.wysiwygToolbar div table tr td {
  float: left;
  clear: none;
  height: 20px;
  max-height: 20px;
  padding: 0px;
  margin: 0px;
  border: 0px; }

#tinymce {
  background-color: #ffffff;
  padding: 8px;
  font-size: 9pt;
  line-height: 12pt; }

/* Login form customization */
#user-login-form ul li {
  text-align: left; }

#user-login-form input[type="submit"] {
  margin-bottom: 1em; }

/*
** = Tab navigation
*/
ul.primary {
  border-collapse: collapse;
  padding: 0 0 0 1em;
  /* LTR */
  white-space: nowrap;
  list-style: none;
  margin: 8px 0 18px 0;
  height: auto;
  line-height: normal;
  border-bottom: 1px solid #c7c4b7; }

ul.primary li {
  display: inline-block;
  padding-left: 0; }

ul.primary li a {
  background-color: #c7c4b7;
  border-color: #c7c4b7;
  border-width: 1px;
  border-style: solid solid none solid;
  height: auto;
  margin-right: 0.6em;
  /* LTR */
  padding: 0.4em 1.6em;
  text-decoration: none;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px; }

ul.primary li.active a {
  background-color: #f9f8f2;
  background-image: -moz-linear-gradient(top, #ffffff, #ece9d8);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#ece9d8));
  border: 1px solid #c7c4b7;
  border-bottom: 1px solid #ece9d8; }

ul.primary li a:hover {
  background-color: #f9f8f2;
  border-color: #c7c4b7;
  border-bottom-color: #ece9d8; }

ul.secondary li {
  background: none;
  text-align: center; }

.views-admin-links ul li {
  list-style: none;
  background-image: none; }

.content .views-table {
  background: none repeat scroll 0 0 #ECE9D8;
  border-bottom: 1px solid #DAD8C8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.8em;
  margin: 0 0 30px;
  padding: 0;
  text-align: left;
  width: 100%; }

.content .views-table tr.even, tr.odd {
  background-color: #ECE9D8;
  border-bottom: none;
  padding: none; }

.content .view-content .even, .content .view-content .views-row-even {
  border-bottom: 1px solid #DEDCD1;
  background-color: #F2F0E4; }

.content .views-table td {
  border-bottom: 1px solid #DEDCD1;
  padding: 2px 12px 2px 0; }

/**
*  News and Events article list page.
*    Note: this assumes a view named 'newsandevents'
*/
.content .view-newsandevents li {
  background-image: none;
  clear: left;
  list-style-type: none;
  margin: 0 0 1em;
  min-height: 90px;
  padding-left: 0; }

.content .view-newsandevents .views-field-created {
  color: #929290;
  display: block;
  font-size: 11px;
  letter-spacing: 1px; }

.content .view-newsandevents img {
  background-color: #F9F8F2;
  float: left;
  margin: 0 8px 8px 0;
  padding: 4px; }

.content .view-newsandevents .views-field-title {
  line-height: 1.3em;
  margin: 0 0 0.6em;
  margin-bottom: 2px;
  color: #605F5D;
  font-size: 15px;
  letter-spacing: -0.5px;
  padding: 0; }

.content .view-newsandevents .views-field-body {
  font-size: 11px;
  margin: 0 0 1em;
  line-height: 19px; }

.content .icon img {
  margin: 0px;
  padding: 0px;
  float: none;
  clear: none;
  background-color: transparent; }

.content th.active img {
  margin: 0px;
  padding: 0px;
  background-color: transparent; }

.content table.system-status-report th,
.content table.system-status-report tr.merge-up td {
  border: 0px;
  padding: 2px 2px 2px 30px;
  margin: 0px; }

/**
* = FLOATS & ALIGNMENTS
*/
.alignright {
  float: right;
  margin: 0 0 10px 10px; }

.alignleft {
  float: left;
  margin: 0 10px 10px 0; }

.clear {
  clear: both; }

/**
* = BLOCKS
*/
.block .content {
  padding: 10px;
  margin: 0;
  font-size: 12px;
  line-height: 1.4em; }

.callout-right blockquote,
.callout-left blockquote {
  margin: 14px;
  padding: 0;
  border: none; }

.callout-right blockquote,
.callout-left blockquote {
  margin: 14px;
  padding: 0;
  border: none; }

.callout-full,
.callout-left,
.callout-right {
  background-color: white;
  border-bottom: 1px solid #84827c;
  display: table;
  padding: 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.callout-left,
.callout-right {
  width: 225px; }

.callout-full {
  width: 98%;
  margin: 10px auto; }

.callout-right,
.right {
  float: right;
  margin: 0 0 10px 14px; }

.callout-left {
  float: left;
  margin: 0 14px 10px 0; }

.callout-left img,
.callout-right img {
  margin: 0;
  padding: 0; }

.callout-full h3,
.callout-left h3,
.callout-right h3 {
  margin: 0; }

.callout-full h4,
.callout-left h4,
.callout-right h4 {
  margin: 0;
  border-bottom: 1px solid #e8e5cf;
  background-color: white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.callout-left textarea,
.callout-right textarea {
  font-family: Monaco;
  border: 1px solid #a2a09c;
  width: 70%;
  height: 80px;
  padding: 4px;
  overflow: hidden;
  font-size: 10px; }

/*
* = CSS3 column styles
*/
.columns-2 {
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #84827c;
  padding: 14px;
  -webkit-border-radius: 4px;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em; }

.columns-2 :first-child {
  margin-top: 0; }

  /* 

  Lists Customizations

   */
ul.menu li,
#toolbar ul li {
  list-style-image: none;
  background-image: none; }

ul > li,
ul li ul li,
ul.menu li {
  background: url(../images/bullet.gif) no-repeat left 5px;
  list-style: none;
  padding: 0px 0px 0px 15px;
  margin: 0 0 0.4em 0; }

.item-list ul li {
  list-style: none;
  margin: 0 0 0.4em 0;
  padding: 0 0 0 15px; }

.more {
  text-align: right;
  margin-bottom: 2px !important; }

.more-link {
  clear: both; }

  /* 

  Table customizations

  */
.alt tr:nth-child(even) {
  background-color: #f2f0e4; }

.full {
  width: 100%; }

.align-top td {
  vertical-align: top; }

.borders,
.borders th,
.borders tr,
.borders td {
  border: 1px solid #5D5C5B; }

tr.even {
  border-bottom: none;
  background-color: #F5F3EB;
  background-color: rgba(255, 255, 255, 0.5); }

@media print {
  *,
  html,
  body {
    background-color: #ffffff;
    color: #000000; }

  .utility_nav,
  .search,
  .logo,
  .main_nav,
  .breadcrumbs,
  .above_content,
  .left-content,
  .footer {
    display: none;
    float: none; }

  .grid_9.pull_1,
  .grid_9.push_3 {
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0; }

  .outer,
  .wrap {
    background-color: #ffffff;
    margin: 10pt;
    width: auto !important; }

  .container_12 {
    left: 0 !important;
    width: 100% !important; }

  .content {
    background-color: #ffffff;
    float: none;
    width: 100%;
    margin: 0;
    left: 0;
    padding: 0; }

  a {
    color: teal;
    text-decoration: underline; }

  .site_title {
    margin-top: 0; }

  .site_title a {
    font-size: 16px !important;
    padding: 0; } }

/*# sourceMappingURL=ucsc.css.map */
