/*
* = CSS3 column styles
*/
.columns-2 {
  background-color: $sand-light;
  border-bottom: 1px solid $gray-dark;
  padding: 0.8em;
  border-radius: $border-radius-base;
  column-count: 2;
  column-gap: 1em;
}

.columns-2 :first-child {
  margin-top: 0;
}
