.image-container {
  width: 12em;
  background-color: lighten($sand-med, 3%);
  border-radius: $border-radius-base;
  border-bottom: 1px solid $sand-dark;
  padding: 0.6em;
  display: table;
  margin: 0;

  .image-caption {
    color: $gray-dark;
    line-height: 1.4;
    font-size: 0.9em;
    margin:0.25em 0.25em 0.15em 0.20em;  
  }

}