// Default table typography
table {
    background: transparent;
    border: none;
    padding: 0;
    margin: 1em 0 2em 0;
    text-align: left;
  }

caption {
  text-align: center;
  background-color: transparent;
  padding: 0.25em;
  margin: 0.25em 0;
}

table th,
table td {
  border:none;
  line-height: 1.3;
  padding: 0.5em;
}

table th,
table td.rowHead {
  color: $gray-dark;
  font-weight: 600;
  border-bottom: 1px solid $gray-light;
}


// Custom classes from UCSCv2 Drupal theme  
.alt tr:nth-child(even) { 
  background-color: lighten($gray-light, 30%);
}

.full { 
  width:100%;
}

.align-top td {
  vertical-align:top;
}

.borders,
.borders th,
.borders tr,
.borders td {
  border: 1px solid $gray-light;
}


// Override Drupal system style defaults
tr.even {
  border-bottom:none;
  background-color: lighten($gray-light, 30%);
}

tr.odd {
  border-bottom:none;
  background-color: transparent;
}