  /* 

  Table customizations

  */
  .alt tr:nth-child(even) { background-color: $sand-light; }
  .full { width:100%; }
  .align-top td { vertical-align:top; }
  .borders,
  .borders th,
  .borders tr,
  .borders td { border:1px solid $gray-dark; }

  tr.even {
    border-bottom:none;
    background-color: $sand-light;
    }

