/*
** = Tab navigation
*/
ul.primary {
  border-collapse: collapse;
  padding: 0 0 0 1em; /* LTR */
  white-space: nowrap;
  list-style: none;
  margin: 8px 0 0;
  height: auto;
  line-height: normal;
  border-bottom: 2px solid $sand-dark;
}

ul.primary li {
    display: inline-block;
    padding-left: 0;
    margin: 0 0 6px;
}

ul.primary li a {
  background-color:$sand-dark;
  border-color: $sand-dark;
  border-width: 2px;
  border-style: solid solid none solid;
  height: auto;
  margin-right: 0.5em; /* LTR */
  padding: 0.4em 1.6em;
  text-decoration: none;
}

ul.primary li.active a {
  background-color: $sand-light;
  border: 2px solid $sand-dark;
  border-bottom: 2px solid $sand-light;
  font-weight: 700;
  }

ul.primary li a:hover {
  background-color: $sand-light;
  border-color: $sand-dark;
  border-bottom-color: $sand-light;
}

ul.secondary li {
  background: none;
  text-align: center;
}
