/**
* = DEFAULT TYPOGRAPHY
*/
  html { overflow-y:scroll !important; }

  body {
    background: $body-bg;
    color: $body-text;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    font-weight: 400;
    line-height: $line-height-base;
    text-rendering: optimizeLegibility;
    }

  a,a:visited {
    color: $blue;
    text-decoration:none;
    }

  a:focus,
  a:hover { text-decoration:underline; }

  blockquote {
    color: $gray;
    font-weight:bold;
    margin: 2em;
    padding:0.25em 0 0.25em 1.5em;
    font-size: $font-size-base;
    border-left: 0.25em solid $body-text;
    }

  abbr { cursor: help; }
  strong { font-weight: bold; }
  em { font-style: italic; }

  p {
    padding: 0;
    line-height: 1.5;
    margin: 0.75em 0;
    }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
  }

  h1 {
    color: darken($body-text, 10%);
    font-size: 2em;
    line-height: 1;
    letter-spacing: -0.03125em;
    margin: 1em 0 0.5em;
  }

  h2 {
    color: darken($body-text, 5%);
    line-height: 1;
    margin: 1em 0 0.5em;
  }

  h3 {
    color: darken($body-text, 10%);
    font-weight: 400;
    font-size: 1.3125em;
    line-height: 1.1429;
    margin: 1.15em 0 0.5em;
  }

  h4 {
    color: darken($body-text, 10%);
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.3334;
    margin: 1.25em 0 0.25em;
     -webkit-font-smoothing: antialiased;
  }

  h5 {
    color: darken($body-text, 5%);
    font-weight: 700;
    font-size: 1em;
    line-height: 1;
    margin: 1.5em 0 0.25em;
     -webkit-font-smoothing: antialiased;
  }

  h6 {
    color: $body-text;
    font-weight: 700;
    font-size: 0.875em;
    line-height: 1.1429;
    margin: 1.7em 0 0.15em;
    -webkit-font-smoothing: antialiased;
  }

  dt { margin:1em 0 0.4em 0; }
  dd { margin:0 0 0.6em 1em;  }

  ol > li,
  ol li ol li {
    background-image:none;
    padding-left: 0;
    margin-left: 1.5em;
  }

// For accessibility, image alt text is black.
img {
  color: #000000;
}