/**
* = FRONT PAGE: grid styles
*/
  #three_column .block .content {
    border-bottom:solid 1px #dad8c8;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.05);
    box-shadow:1px 1px 2px rgba(0,0,0,0.05);
    background-color:#ece9d8;
    }

  #three_column .block .content .view-content img {
    background: none repeat scroll 0 0 #FFFFFF;
      border-bottom: 1px solid #D5D2C3;
      padding: 5px;
    display: inline;
      float: left;
      margin: 0 10px 10px 0;
    }

  #three_column .block .content .view-content .views-row {
    clear: both;
    }

  #three_column .block .content .view-content .views-field-created {
    color: #929290;
      font-size: 9px;
      letter-spacing: 1px;
    }

  #four_column {
    margin-top:12px;
    font-size:11px;
    line-height:16px;
    }

  #four_column .block .content {
    background-color:transparent;
    font-size:11px;
    padding:0;
    }

  #four_column .block .content ul,
  #four_column .block .content p {
    padding:0;
    color:#71706e;
    margin:0 0 15px 0;
    }

  #four_column .block-title {
    color:#5d5c5b;
    margin:0 0 10px 0;
    text-transform:uppercase;
    font-size:14px;
    line-height: 1.4em;
    }

    #three_column .block-title span,
    #four_column .block-title span {
      font-style:normal;
      font-weight:bold;
      color:#585755;
    }

  #three_column .block-title {
    margin:0px 0px 10px 0px;
    padding:6px;
    border:1px solid #e5e4de;
    color:#8e8c87;
    font-size:14px;
    font-weight:normal;
    text-transform:uppercase;
    line-height: 1.4em;
    }

  #four_column p {
    padding:4px;
    color:#8e8c87;
    font-size:9pt;
    }


.three {
  float:none;
}

.combined {
  background-color: rgb(249, 248, 242);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-bottom: solid 1px rgb(223, 222, 210);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.05);
  clear: both;
  display: block;
  margin: 30px 0 30px 0;
  padding:1em 0 1em 1em;
}
.combined .grid_4 {
  font-size: 13px;
  line-height: 1.4em;
}

.combined .grid_4.alpha {
  border-left: none;
}

.combined .grid_4.omega {
  border-right: none;
}

.combined .block-title {
  color: rgb(85, 133, 162);
  border: 1px solid rgb(167, 190, 202);
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 4px 6px;
  line-height: 130%;
  text-transform: uppercase;
}

.combined .grid_4 .content {
  padding-top: 0;
}