/**
* = RIGHT COLUMN STYLES
*/
.right_content .block-title {
    font-weight: bold;
    margin: 0.4em 0;
    font-size:13px;
    border-bottom: 4px solid $sand-light;
    padding-bottom: 0.4em;
    margin-top:0;
    color: $gray-dark;
    text-shadow: 1px 1px 0px $gray-dark;
    line-height: 1.4em;
    }

.right_content .inner .content {
    font-size: 88% !important;
    width: 90%;
    padding: 0;
    margin: 0 0 1em 0;
    }

.right_content img {
    background-color: $sand-light;
    padding: 4px;
    }

.right_content img[align="left"],
.right_content img.left { margin: 0 2px 2px 0; }
.right_content img[align="right"],
.right_content img.right { margin: 0 0 2px 2px; }