/**
* = LEFT COLUMN STYLES
*/

  .left_content .block {
    padding:0;
    margin-bottom:1.8em;
    }

  .left_content .block .content {
    padding:0;
    margin:0.8em 0;
    }

  .left_content ul.plain {
    margin: 0;
    padding: 0;
    }

  .left_content li {
    margin-bottom: 1em;
    }

  .left_content .plain li {
    background-image: none;
    list-style: none;
    padding-left: 0;
    }

  .left_content .menu {
    margin:0;
    padding:0;
    border-top: $sand-light 1px solid;
    line-height:30px;
    width:188px;
    }

  .left_content .menu li {
    margin:0;
    padding:0;
    border-bottom: $sand-light 1px solid;
    background-image:none;
    list-style:none;
    }

  .left_content .menu li ul { margin-bottom:-1px; width:auto; }
  .left_content .menu li ul ul { margin-left:0; width:auto; }

  .left_content .menu li li li {
    border-bottom: none;
    background:transparent url(../images/bullet.gif) no-repeat 12px 10px;
    padding-left: 1.6em;
    margin-left: 0;
    width: 87%;
    }

  .left_content .menu li li a {
    margin-left:0px;
    padding-left:12px;
    width:94%;
    }

  .left_content .menu li li li a {
    padding-left:0.4em;
    width:100%;
    line-height:1em;
    background-image:none;
    }

  .left_content ul .active {
    display:block;
    background: $sand-light url(../images/navigation-arrow.gif) no-repeat right center;
    }

  .left_content .menu li a {
    display:block;
    width:100%;
    max-width:184px;
    line-height:1.4em;
    padding:6px 0px;
    }

  .left_content li a:focus,
  .left_content li a:hover { background-color: $sand-light; }
  .left_content ul li .last { border-bottom:none; }