/**
* = SHELLS: wrapper divs
*/
.outer {
  background-color: $body-bg;
  margin:0 auto 1em auto;
  position:relative;
  max-width: 960px;
}

.wrap {
  background-color: transparent;
  margin: 0;
  width: 100%;
}

.row {
  @include row;
  margin: 0 0 1.5em;
}

.content,
.above_content,
.below_content {
  @include clearfix;
}