/**
* = SHELLS: wrapper divs
*/
  .outer {
    width:960px;
    margin:0 auto 1em auto;
    background-color: $body-bg;
    position:relative;
    /* overflow:hidden; */
    }

  .wrap {
    width:860px;
    margin:0;
    background-color: $body-bg;
    }

  .container_12 { width:820px; }