/**
* = SHELLS: wrapper divs
*/
.outer {
  background-color: $body-bg;
  margin:0 auto 1em auto;
  position:relative;
  max-width: 1080px;
}

.wrap {
  background-color: transparent;
  margin: 0;
  width: 100%;
}

.row {  
  @include row;
  // border: 1px solid red;
  margin: 0 0 1.5em;
  @include media($mobile) {
    margin: 0 0 0.5em;
  }
}

div[class^='grid_'] {
  // border: 1px solid red;
}

.content,
.above_content,
.below_content {
  @include clearfix;
}
