/**
*  Full-width page styles
*/

.outer.full_width,
.full_width .wrap,
.full_width .container_12 {
  width: 100%;
  margin: 0;
  padding: 0;
}

.full_width .container_12 .grid_12,
.full_width #content {
  margin-left: 0;
}

.full_width .container_12 { width: 96%; margin:0 2em 0 2em; min-width: 860px; }

.full_width .utility_nav {
  float: right;
  margin-right: 0.6em;
}

.full_width .utility_nav .home {
    width:auto;
}

.full_width .search {
  min-width: 220px
}

.full_width #left-content {
  max-width:190px;
}

.full_width .wrap .grid_9.push_3 {
  left:220px;
}

.fixed_width .search input[type='text'] {
  width: 56%;
}