/**
* = ACCESSIBILITY LINKS: hidden until they receive :focus
*/
  .access_links ul,
  .access_links li { overflow: hidden !important; width:100%; }

  .access_links,
  .access_links li {
    margin:0;
    padding:0;
    overflow:hidden;
    position: relative;
    }

  .access_links li a {
    background-color:#fff;
    display:block;
    font-size:1.6em;
    left:900em;
    margin:0;
    padding:20px;
    position:absolute;
    top:0;
    width:100%;
    z-index:1000 !important;
    }

  .access_links li a:focus,
  .access_links li a:hover {
    background-color:#007799;
    color:#ffffff;
    left:0;
    }