/**
* Breadcrumb navigation
*/

.breadcrumb {
  font-size: 0.75em;
  margin: -0.9em 0 1em 0.6em;
  line-height: 1em;
}

.breadcrumb li {
  display:inline;
  padding: 0;
  margin: 0;
  background-image:none;
}

.breadcrumb a {
  padding: 0 0.1em;
}

.breadcrumb li:after {
  content:" / ";
}

.breadcrumb li:last-child:after {
  content:"";
}


