/* Hide block title in the footer (but keep it in the HTML for accessibility) */
#footer .block .title { position:absolute; left:1000em; overflow:hidden; }
#footer .block .content { padding:0px; }
#footer li { background-image: none; padding: 0; margin: 0 0 0 6px; }

#footer-links {
  line-height:40px;
  text-align:center;
  padding:0px;
  text-transform:uppercase;
  overflow: hidden;
  }

#campus-info p {
  margin:0 0 0.2em;
  }

#footer-links a {
  padding:0px 5px;
  }



/**
* Footer styles
*/

#footer-links h2 {
  display:none;
  }

#footer-links ul {
  float:right;
  }

#footer-links li {
  float:left;
  list-style:none;
  }