/**
* Utility navigation and Search
*/

.utility_nav li {
  background-image:none;
  border-left:1px solid #c2cdc9;
  float:left;
  font-size:12px;
  line-height:1.2em;
  list-style-type:none;
  padding:25px 10px 1px 10px;
  }

.utility_nav .home {
  width:270px;
}

.search {
  float: right;
  margin: 20px 0px 36px -12px;
  padding: 0px;
  background: rgba(255,255,255,0.8);
  border: solid 1px #d5d3c8;
  border-radius: 5px;
  min-width: 220px;
}

.search .content {
  padding: 0;
}

.search h4,
.search label {
  position: absolute;
  right: 900em;
}

.search input[type='submit'] {
  float: right;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  background-image: none;
  background-color: #c7c4b7;
  margin: 0px;
  border-radius: 0px;
  cursor: pointer;
  padding:0.5em;
}

.search input[type='text'] {
  width: 65%;
  color: #666;
  font-size: 12px;
  color: #A3A3A1;
  background-color: transparent;
  float: left;
  padding: 4px 0 0 6px;
  border: none;
}

.search form input {
  background-color: rgba(255,255,255,0.8);
  border: 1px solid #8e8c87;
}

.search form input.query {
  color: #a3a3a1;
  height: 15px;
  line-height: 1em;
  padding: 4px 0 0 0;
  vertical-align: top;
  width: 152px;
}