/**
* Utility navigation and Search
*/
.utility_nav {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: right;
  @include media($mobile) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.utility_nav li {
  background-image:none;
  border-left: 2px solid $sand-med;
  display: inline-block;
  line-height: 1.2em;
  list-style: none;
  padding: 2em 0.5em 0 0.5em;
  @include media($mobile) {
    @include fontSize(13);
    border: none;
    padding: 0;
    margin: 0.25em 0.1em;
    text-align: center;
    flex: 1 20%;
    width:auto;
    a {
      border: 1px solid $sand-med;
      background-color: $sand-light;
      border-radius: $border-radius-base;
      display: block;
      padding: 0.5em 0.75em;
      width: 100%;
    }
  }
}

.utility_nav .home {
  float: left;
  @include media($mobile) {
    flex: 1 1 100%;
    text-align: center;
  }
}


/**
*  Search field
*/
.search {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  min-width: 20%;
  @include fontSize(13);
  @include media($tablet) {
    margin: 1.35em 0 0 0;
    @include fontSize(16);
  }
}

.search h4,
.search label,
.search input[type='submit'] {
  display: block;
  position: absolute;
  right: 900em;
}

.search input[type='text'] {
  background-color: #fff;
  border: solid 1px $sand-dark;
  border-radius: $border-radius-base;
  color: darken($gray-dark, 34%);
  padding: 0.5em;
  display: block;
  width:100%;
  @include media($mobile) {
    margin: 0.5em 0 0 0;
    padding: 0.75em;
    width: 100%;
    display: block;
    float: none;
  }
}
