/**
* Utility navigation and Search
*/

.utility_nav li {
  background-image:none;
  border-left:1px solid $sand-med;
  float:left;
  font-size:12px;
  line-height:1.2em;
  list-style-type:none;
  padding:25px 10px 1px 10px;
  }

.utility_nav .home {
  width:270px;
}

.search {
  float: right;
  margin: 20px 0px 36px -12px;
  padding: 0px;
  background: $sand;
  border: solid 1px $sand-med;
  border-radius: 5px;
  min-width: 220px;
}

#block-search-form .content {
  padding: 0;
}

#block-search-form input[type="text"] {
    width: 100%;
    padding: 6.33333px 4px;
}

.search h4,
.search label {
  position: absolute;
  right: 900em;
}
/*
.search input[type='submit'] {
  float: right;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  background-image: none;
  background-color: $sand-dark;
  margin: 0px;
  border-radius: 0px;
  cursor: pointer;
  padding:0.5em;
}
*/
.search input[type='submit'] {
  display: none;
}

.search input[type='text'] {
  width: 65%;
  color: $gray-dark;
  font-size: 12px;
  color: $gray-med;
  background-color: transparent;
  float: left;
  padding: 4px 0 0 6px;
  border: none;
}

.search form input {
  background-color: $sand-light;
  border: 1px solid $gray-dark;
}

.search form input.query {
  color: $gray-med;
  height: 15px;
  line-height: 1em;
  padding: 4px 0 0 0;
  vertical-align: top;
  width: 152px;
}