/**
* = LOGO AND SITE TITLE
*/
  .logo {
    display:block;
    background:url(../images/logo.gif) no-repeat top left;
    height:45px;
    width:144px;
    text-indent:-9999px;
    font-size:1px;
    line-height:1px;
    float:left;
    margin:0;
    padding:0 10px 0 0;
    overflow:hidden;
    border-right:1px solid $gray-light;
    }

  .site_title { line-height:1.1em; margin-left:12px; margin-top:0px; float:left;}
  .site_title.title_standard { margin-top:2px; }
  .site_title.title_short,
  .site_title.title_medium { margin-top:4px; }
  .site_title.title_long { margin-top:4px; }
  .site_title.title_mega_long { margin-top:-4px; }
  .site_title.title_extra_long,
  .site_title.title_super_long { margin-top:-6px; }

  .site_title a {
    margin:0;
    font-size:42px;
    padding:0 0 0 0;
    text-transform:uppercase;
    letter-spacing:-1px;
    color: $gold-dark;
    text-decoration:none;
    }

  /**
  *   Page title classes for titles of different lengths
  */
  #site-title.title_standard,
  #site-title.title_standard a { font-size:38px; }
  #site-title.title_short,
  #site-title.title_short a { font-size:32px; }
  #site-title.title_medium,
  #site-title.title_medium a { font-size:30px; }
  #site-title.title_long,
  #site-title.title_long a { font-size:28px; }
  #site-title.title_extra_long,
  #site-title.title_extra_long a { font-size:26px; width:78%; }
  #site-title.title_super_long,
  #site-title.title_super_long a { font-size:24px; width:68%; }
  #site-title.title_mega_long,
  #site-title.title_mega_long a { font-size:22px; width:58%; }
