/**
* = LOGO AND SITE TITLE
*/
  .logo {
    display:block;
    width: 180px;
    height: auto;
    float:left;
    margin:0;
    padding:0 1em 0 0;
    overflow:hidden;
    @include media($tablet) {
      height:62px;
      width:230px;
    }
  }

  .site_title {
    line-height: 1;
    margin-left: 12px;
    margin: 0;
    float: left;
    min-height: 60px;
    a {
      text-transform: uppercase;
      letter-spacing: -1px;
      color: $gold-med;
      font-weight: 400;
      text-decoration:none;
    }
    &.large-type a {
      display: block;
      margin-top: 0.2em;
      font-size: 3rem;
    }
    &.small-type a {
      font-size: 1.8rem;
    }
  }
