/**
* = MAIN CONTENT STYLES
*/


  .content {
    clear: both;    
  }

  .content img {
    background-color: $sand;
    border-radius: $border-radius-base;
    margin: 0.15em;
    padding: 0.5em;
    max-width: 100%;
  }

  .left_content .block .content,
  .below_content .block .content {
    min-height:10px;
    }

  .below_content p {
    background-color: $sand-dark;
    color: $gray-dark;
    margin:0px;
    border:0px;
    }

  .content .plain {
    background-color:transparent;
    padding:0;
    border:none;
    }

.content div.indentation {
  clear:none;
  }

  .submitted {
    margin: 0.25em 0;
    font-size: 0.75em;
    text-align: right;
  }