/**
* Main navigation
*/


/* Override some defaults from above and from system.css */
.main_nav .block .content,
.front .above_content { padding:0; }
.main_nav .block ul { padding:0; }

.main_nav .menu {
  @include media($tablet) {
    border-radius: $border-radius-base;
    display: table;
    margin: 0;
    width: 100%;
    border: 1px solid $sand-med;
    background-color: $sand-light;
  }
}

.main_nav li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-image: none;
  border: 1px solid #e7e7e6;
  border-width: 1px 0;

  &:first-child {
    border-top-left-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
  }

  &:last-child {
    border-top-right-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
  }

  & ul li {
    border-radius: 0;
  }

  @include media($tablet) {
    border: 0;
    border: 0px solid #e7e7e6;
    border-right: 1px solid #e7e7e6;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: auto;
  }
  &.leaf,
  &.collapsed,
  &.expanded {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }
}

.main_nav li a {
  display: block;
  background-color: $sand-light;
  color: $ucsc-gold;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.3;
  padding: 0.5em 0.8em;
  margin: 0;
  @include fontSize(13);
  @include media($tablet) {
    @include fontSize(14);
    height: 100%;
    width: 100%;
  }
}

.main_nav .menu.hovered,
.main_nav li a:focus,
.main_nav li a:hover,
.main_nav li.qsg span:hover {
  color: $gold-light;
  text-decoration: none;
  background: $blue;
  background-color: $blue;
}

.main_nav li li {
  background:none;
  border:none;
  float:none;
  display: block;
  margin:0;
  min-width: 14em;
  max-width: 14em;
  padding:0;
}

.main_nav li li a {
  background: $sand-light;
  color: $blue-light;
  height: auto;
  padding: 0.5em;
  text-align: left;
  text-transform:none;
  border-bottom: 1px solid $sand-med;
  :last-child & {
    border-bottom: none;
  }
}

@include media($tablet) {

  .main_nav li:first-child a {
    border-top-left-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
  }

  .main_nav li:last-child a {
    border-top-right-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
  }

  /* No :first-child rounded corners for nested <li>s */
  .main_nav li li:first-child a {
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
  }

  .main_nav li li:last-child a {
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
  }

}

// No left border for the sub-menu items
.main_nav ul > li li:first-child { border-left: none; }
.main_nav ul > li li:last-child { border-right: none; }

  /* dropdown menu styles */

  .main_nav li.qsg {
    position:relative;
    }

  .main_nav li .menu {
    background: $sand-light;
    border-top:1px solid $sand-med;
    left:-900em;
    position:absolute;
    padding:0;
    box-shadow:4px 4px 8px rgba(0,0,0,0.3);
    z-index:100;
    width: 14em;
    border-radius: 0px;
    }

  .main_nav li:hover ul,
  .main_nav li.hov ul {
    left:auto;
    z-index:100;
    }

  .main_nav li li a:focus,
    .main_nav li li a:hover {
    background: $blue;
    background-image:none;
    color: $gold;
    height:auto;
  }
