/**
*   ## Messages and Help styles ##
* 
*   Added the .content class wrapper to make these
*   rules more specific than the Drupal defaults,
*   located in system styles.
*/

.content {

  .messages {
    min-height:1em;
    color: $gray-med;
    background-color: $messages;
    border:1px solid $messages-border;
    padding:1em 1em 1em 2em !important;
    margin: 0 0 2em;
  }

  .messages a { font-weight:700; }

  .messages ul {
    margin:0.4em 1em 1em 0.8em;
    padding:0;
    }

  .messages ul li {
    margin-bottom:.25em;
    list-style:disc;
    background-image:none;
    padding:0;
    margin-left:1em;
    }

  .messages.help {
    background: $messages;
    border:1px solid $messages-border;
    }

  .messages.status {
    background: $messages-status;
    border:1px solid $messages-status-border;
    }

  .messages.warning {
    background: $messages-warning;
    border:1px solid $messages-warning-border;
    }

  .messages.error {
    background: $messages-error;
    border:1px solid $messages-error-border;
    }

  .more-help-link {
    margin-bottom:.5em;
    }

  .messages-multiple {
    padding-bottom:0;
    }

 }   