/**
* Messages and Help styles
* (Taken and modified from Garland)
*/

  .messages {
    min-height:1em;
    color:#333333;
    background-color:#cde4f2;
    border:1px solid #82a0c3;
    padding:1em 1em 1em 2em !important;
    margin-bottom:30px;
    }

  .messages a { font-weight:700; }

  .messages ul {
    margin:0.4em 1em 1em 0.8em;
    padding:0;
    }

  .messages ul li {
    margin-bottom:.25em;
    list-style:disc;
    background-image:none;
    padding:0;
    margin-left:1em;
    }

  .messages.help {
    background:#cde4f2;
    border:1px solid #82a0c3;
    }

  .messages.status {
    background:#d4efcc;
    border:1px solid #69c375;
    }

  .messages.warning {
    background:#f5fc9c;
    border:1px solid #D4D400;
    }

  .messages.error {
    background:#FCC;
    border:1px solid #DB6B6C;
    }

  .more-help-link {
    margin-bottom:.5em;
    }

  .messages-multiple {
    padding-bottom:0;
    }