/**
* = REGIONS
*/

  .above_content,
  .content,
  .below_content,
  .right_content .inner {
    background-color: $sand-light;
    color: $gray-dark;
    border-radius: $border-radius-base;
    padding: 1em;
  }

  .above_content,
  .below_content {
    background-color: $sand-light;
    border-bottom: 1px solid $sand-light;
    border-radius: $border-radius-base;
    margin: 1em 0;
    padding: 1.5em 2em 1em;

    :first-child {
      margin-top: 0;
    }
  }

  .above_content {
    color: $gray-dark;
  }

  .below_content .block {
    margin-bottom: 1em;
    padding: .5em 0;
    border-top: 1px solid $sand-dark;

    &:first-child {
      border: none;
      padding-top: 0;
    }
  }



  .above_content .block .content {
    overflow:hidden;
  }

  .below_content {
    color: $gray-med;
  }

  .footer {
    margin-top:1em;
    padding-top:1em;
    border-top:1px solid $sand-dark;
  }

  .front .three_column .block .content {
      min-height:226px;
  }
